body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .main-search {
    margin-top: 50px;
  }
  .main-search .form-group {
    display: inline-block;
    width: 83%;
    vertical-align: middle;
    margin: 0 20px 0 0;
  }
  .main-search button {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
  }
  .card-wrapper {
      margin-top: 50px;
      text-align: center;
  }
  .card-list {
      margin-top: 50px;
  }
  .card-wrapper .card {
      display: inline-block;
      width: 206px;
      vertical-align: top;
      margin: 0.5rem;
  }
  .card-wrapper .card-image {
     height: 300px;
     position: relative;
     border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  .card-wrapper .card-image img {
      height: 100%;
      width: 100%;
   }
   .card .badge {
      position: absolute;
      left: 50%;
      bottom: -3%;
      transform: translateX(-50%);
      padding: 7px 25px;
      font-size: 14px;
   }
   .alert-warning {
       margin-top: 50px;
   }

   .container {
       width: 1200px;
   }
   .card-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }

   .film-details {
       margin-top: 50px;
       margin-bottom: 100px;
   }

   .film-details .h3 {
       margin-bottom: 25px;
   }
   .film-poster, .film-params  {
       display: inline-block;
       vertical-align: top;
   }
   
   .film-params {
       margin-left: 30px;
       width: 70%;
   } 

   .film-params tr td:nth-child(odd) {
       font-weight: bold;
   }

   .film-poster img {
       height: 100%
   }